---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
import Tech from '../components/Tech.astro';
import Crafts from '../components/Crafts.astro';
import {Cursors} from '../components/Cursors';
import TankGame from "../games/TankGame";
import {ClickSpark} from "../components/ClickSpark";
---

<Layout title="Nikolay Kost - JS Developer">
    <main class="max-w-6xl mx-auto px-6 py-20 flex flex-col gap-6">
        <ClickSpark client:media="(min-width: 1024px)">
            <Hero/>
        </ClickSpark>
        <!--<section id="egg" style="display: none">-->
        <!--    <TankGame client:visible />-->
        <!--</section>-->
        <section class="flex flex-row sm:flex-col flex-wrap gap-6">
            <ClickSpark client:media="(min-width: 1024px)">
                <Tech />
            </ClickSpark>
            <section class="grid md:grid-cols-2 gap-6">
                <Crafts/>
                <Experience/>
            </section>
            <Contact/>
        </section>
    </main>

    <Cursors client:media="(min-width: 1024px)"/>
</Layout>

<script>
    const isTouchDevice = 'ontouchstart' in window

    if (!isTouchDevice) {
        document.getElementById('egg-trigger').addEventListener('click', () => {
            document.getElementById('egg').style.display = 'block'
        })
        document.addEventListener('keydown', (e) => {
            if (e.key === ' ') {
                e.preventDefault();
            }
        })
        document.addEventListener('keyup', (e) => {
            if (e.key === ' ') {
                e.preventDefault();
            }
        })
    }
</script>
