---
import ThemeToggle from '../components/ThemeToggle.astro'
import Footer from '../components/Footer.astro'
import Posthog from '../components/Posthog.astro'
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="font-sans font-['Inter']">
<head>
    <link
        rel="alternate"
        hreflang="ru"
        href="https://artkost.ru"
    />
    <link
        rel="alternate"
        hreflang="en"
        href="https://artkost.dev"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Nikolay Kost - JavaScript Developer specializing in web applications and efficient JavaScript solutions" />
    <meta name="description" lang="ru" content="Николай Костюрин — разработчик JavaScript, специализирующийся на веб-приложениях и эффективных решениях JavaScript" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Opengraph Meta Tags -->
    <meta property="og:url" content="https://artkost.dev/">
    <meta property="og:url" lang="ru" content="https://artkost.dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nikolay Kost - JavaScript Developer">
    <meta property="og:title" lang="ru" content="Николай Костюрин — JavaScript Разработчик">
    <meta property="og:description" content="Nikolay Kost - JavaScript Developer specializing in web applications and efficient JavaScript solutions">
    <meta property="og:description" lang="ru" content="Николай Костюрин — разработчик JavaScript, специализирующийся на веб-приложениях и эффективных решениях JavaScript">

    <meta property="og:image" content="android-chrome-192x192.png">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:domain" content="artkost.dev">
    <meta property="twitter:domain" lang="ru" content="artkost.ru">
    <meta property="twitter:url" content="https://artkost.dev/">
    <meta property="twitter:url" lang="ru" content="https://artkost.ru/">
    <meta name="twitter:site" content="@jilizart">

    <meta name="twitter:description" content="I specialize in building exceptional web applications and creating efficient JavaScript solutions. Currently focusing on exciting new projects and open-source contributions. ✨">
    <meta name="twitter:description" lang="ru" content="Я специализируюсь на создании исключительных веб-приложений и создании эффективных решений JavaScript. В настоящее время сосредоточен на новых интересных проектах и ​​вкладах в open-source. ✨">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Nikolay Kost - JavaScript Developer">
    <meta name="twitter:title" lang="ru" content="Nikolay Костюрин - JavaScript Разработчик">
    <meta name="twitter:image" content="android-chrome-192x192.png">
    <meta name="twitter:image:alt" content="Nikolay Kost - JavaScript Developer">
    <meta name="twitter:image:alt" lang="ru" content="Nikolay Костюрин - JavaScript Разработчик">

    <meta name="ahrefs-site-verification" content="02bbece82fd93f7352123d0b2fdca15b55b6cdf90e672bb28d5456458fafcf37">

    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script is:inline>
        const theme = (() => {
            if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                return localStorage.getItem('theme');
            }
            return 'light';
        })();
        if (theme === 'dark') document.documentElement.classList.add('dark');
    </script>
    <style is:inline>
        a:hover {
            cursor: none;
        }

        .scrollbar::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
        }

        .scrollbar::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: transparent;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        body {
            background-color: #fff9f5;
        }

        .backdrop {
            background-image: radial-gradient(circle at 20% 80%, rgba(255, 220, 190, 0.3) 0%, transparent 50%),
            radial-gradient(circle at 80% 20%, rgba(255, 245, 238, 0.35) 0%, transparent 50%),
            radial-gradient(circle at 40% 40%, rgba(255, 210, 180, 0.15) 0%, transparent 50%);
        }

        body.dark {
            background-color: black;
        }

        .dark .backdrop {
            background-image: radial-gradient(circle at 50% 100%, rgba(70, 85, 110, 0.5) 0%, transparent 60%),
            radial-gradient(circle at 50% 100%, rgba(99, 102, 241, 0.4) 0%, transparent 70%),
            radial-gradient(circle at 50% 100%, rgba(181, 184, 208, 0.3) 0%, transparent 80%);
        }
    </style>
</head>
<body class="flex flex-col dark:bg-black min-h-screen transition-colors relative h-screen w-full bg-[#fff9f5] touch-none items-center justify-center overflow-hidden">
<div class="absolute inset-0 z-0 backdrop" />
<main id="main" role="main" class="overflow-y-scroll overflow-x-hidden absolute inset-0 scrollbar">
    <slot />
    <ThemeToggle />
    <Footer />
</main>
</body>

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "cc1c531698974a028fa31d4216f2a9c7"}'></script>
<!-- End Cloudflare Web Analytics -->

<script src="https://analytics.ahrefs.com/analytics.js" data-key="Pgnp/HSMWXL4zLw+hpCCJw" async></script>

<Posthog />

<script type="application/ld+json" lang="en">
    {
        "@context": "https://json-ld.org/contexts/person.jsonld",
        "name": "Nikolay Kosturin",
        "nickname": "jilizart",
        "born": "1989-12-29",
        "email": "mailto:nk@artkost.dev",
        "url": "https://artkost.dev",
        "jobTitle": "JavaScript Developer",
        "image": "https://artkost.dev/profile.jpeg",
        "homepage": "https://artkost.dev",
        "sameAs": [
        "https://github.com/jilizart",
        "https://x.com/jilizart",
        "https://linkedin.com/in/nkostyurin",
        "https://t.me/jilizart",
        "https://twitter.com/jilizart"
    ]
    }
</script>
<script type="application/ld+json" lang="ru">
    {
        "@context": "https://json-ld.org/contexts/person.jsonld",
        "name": "Николай Костюрин",
        "nickname": "jilizart",
        "born": "1989-12-29",
        "email": "mailto:nk@artkost.ru",
        "url": "https://artkost.ru",
        "jobTitle": "JavaScript Разработчик",
        "image": "https://artkost.ru/profile.jpeg",
        "homepage": "https://artkost.ru",
        "sameAs": [
        "https://github.com/jilizart",
        "https://x.com/jilizart",
        "https://linkedin.com/in/nkostyurin",
        "https://t.me/jilizart",
        "https://twitter.com/jilizart"
    ]
    }
</script>
</html>
